{:index 0, :time 35498801, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 1, :time 380648811, :type :invoke, :process 3, :f :cas, :value [0 [2 1]]}
{:index 2, :time 538796915, :type :invoke, :process 4, :f :cas, :value [0 [1 2]]}
{:index 3, :time 557915016, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 4, :time 712254820, :type :invoke, :process 5, :f :cas, :value [0 [2 0]]}
{:index 5, :time 870597824, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 6, :time 1074380030, :type :fail, :process 0, :f :read, :value [0 nil], :error :net-timeout}
{:index 7, :time 1117530631, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 8, :time 1388808739, :type :info, :process 3, :f :cas, :value [0 [2 1]], :error :net-timeout}
{:index 9, :time 1389066539, :type :invoke, :process 9, :f :cas, :value [0 [1 4]]}
{:index 10, :time 1817290951, :type :info, :process 4, :f :cas, :value [0 [1 2]], :error :net-timeout}
{:index 11, :time 1817527151, :type :invoke, :process 10, :f :cas, :value [0 [0 4]]}
{:index 12, :time 1820268051, :type :info, :process 5, :f :cas, :value [0 [2 0]], :error :net-timeout}
{:index 13, :time 1821947351, :type :fail, :process 1, :f :read, :value [0 nil], :error :net-timeout}
{:index 14, :time 1874851653, :type :fail, :process 2, :f :read, :value [0 nil], :error :net-timeout}
{:index 15, :time 1921638554, :type :invoke, :process 11, :f :write, :value [0 3]}
{:index 16, :time 2119058160, :type :fail, :process 0, :f :read, :value [0 nil], :error :net-timeout}
{:index 17, :time 2146834361, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 18, :time 2314921865, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 19, :time 2390843368, :type :info, :process 9, :f :cas, :value [0 [1 4]], :error :net-timeout}
{:index 20, :time 2703556676, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 21, :time 2819839080, :type :info, :process 10, :f :cas, :value [0 [0 4]], :error :net-timeout}
{:index 22, :time 2902949182, :type :invoke, :process 15, :f :cas, :value [0 [2 1]]}
{:index 23, :time 2926387783, :type :info, :process 11, :f :write, :value [0 3], :error :net-timeout}
{:index 24, :time 3147795589, :type :fail, :process 0, :f :read, :value [0 nil], :error :net-timeout}
{:index 25, :time 3168826690, :type :invoke, :process 16, :f :cas, :value [0 [1 1]]}
{:index 26, :time 3176883090, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 27, :time 3316236994, :type :fail, :process 1, :f :read, :value [0 nil], :error :net-timeout}
{:index 28, :time 3335548894, :type :invoke, :process 17, :f :write, :value [0 4]}
{:index 29, :time 3454505598, :type :invoke, :process 1, :f :read, :value [0 nil]}
{:index 30, :time 3705900005, :type :fail, :process 2, :f :read, :value [0 nil], :error :net-timeout}
{:index 31, :time 3706053805, :type :invoke, :process 2, :f :read, :value [0 nil]}
{:index 32, :time 3904348211, :type :info, :process 15, :f :cas, :value [0 [2 1]], :error :net-timeout}
{:index 33, :time 3962533912, :type :invoke, :process 21, :f :cas, :value [0 [0 4]]}
{:index 34, :time 4170298618, :type :info, :process 16, :f :cas, :value [0 [1 1]], :error :net-timeout}
{:index 35, :time 4170526818, :type :invoke, :process 22, :f :cas, :value [0 [0 4]]}
{:index 36, :time 4180904318, :type :fail, :process 0, :f :read, :value [0 nil], :error :net-timeout}
{:index 37, :time 4336959123, :type :info, :process 17, :f :write, :value [0 4], :error :net-timeout}
{:index 38, :time 4455945826, :type :fail, :process 1, :f :read, :value [0 nil], :error :net-timeout}
{:index 39, :time 4515667428, :type :invoke, :process 0, :f :read, :value [0 nil]}
{:index 40, :time 4707062533, :type :fail, :process 2, :f :read, :value [0 nil], :error :net-timeout}
{:index 41, :time 4725950534, :type :invoke, :process 23, :f :write, :value [0 4]}
{:index 42, :time 4964034241, :type :info, :process 21, :f :cas, :value [0 [0 4]], :error :net-timeout}
{:index 43, :time 5171840947, :type :info, :process 22, :f :cas, :value [0 [0 4]], :error :net-timeout}
{:index 44, :time 5516777756, :type :fail, :process 0, :f :read, :value [0 nil], :error :net-timeout}
{:index 45, :time 5728264264, :type :info, :process 23, :f :write, :value [0 4], :error :net-timeout}
