{:index 0, :time 29680903, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 161893118, :type :invoke, :process 3, :f :write, :value 1}
{:index 2, :time 532873758, :type :invoke, :process 4, :f :cas, :value [2 0]}
{:index 3, :time 724526879, :type :invoke, :process 5, :f :write, :value 0}
{:index 4, :time 895493897, :type :invoke, :process 1, :f :read, :value nil}
{:index 5, :time 1063432816, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 6, :time 1153331225, :type :invoke, :process 0, :f :read, :value nil}
{:index 7, :time 1169991127, :type :info, :process 3, :f :write, :value 1, :error :net-timeout}
{:index 8, :time 1238236135, :type :invoke, :process 9, :f :cas, :value [3 3]}
{:index 9, :time 1329726845, :type :invoke, :process 2, :f :read, :value nil}
{:index 10, :time 1540150768, :type :info, :process 4, :f :cas, :value [2 0], :error :net-timeout}
{:index 11, :time 1563368070, :type :invoke, :process 10, :f :cas, :value [3 1]}
{:index 12, :time 1731025491, :type :info, :process 5, :f :write, :value 0, :error :net-timeout}
{:index 13, :time 1731370391, :type :invoke, :process 11, :f :write, :value 2}
{:index 14, :time 1900818713, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 15, :time 2050521832, :type :invoke, :process 1, :f :read, :value nil}
{:index 16, :time 2161525646, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 17, :time 2161729446, :type :invoke, :process 0, :f :read, :value nil}
{:index 18, :time 2242028756, :type :info, :process 9, :f :cas, :value [3 3], :error :net-timeout}
{:index 19, :time 2242406256, :type :invoke, :process 15, :f :cas, :value [2 4]}
{:index 20, :time 2333335767, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 21, :time 2410200577, :type :invoke, :process 2, :f :read, :value nil}
{:index 22, :time 2564746497, :type :info, :process 10, :f :cas, :value [3 1], :error :net-timeout}
{:index 23, :time 2564958897, :type :invoke, :process 16, :f :write, :value 2}
{:index 24, :time 2733333818, :type :info, :process 11, :f :write, :value 2, :error :net-timeout}
{:index 25, :time 2776792724, :type :invoke, :process 17, :f :cas, :value [0 3]}
{:index 26, :time 3052456859, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 27, :time 3052785959, :type :invoke, :process 1, :f :read, :value nil}
{:index 28, :time 3164527873, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 29, :time 3173724974, :type :invoke, :process 0, :f :read, :value nil}
{:index 30, :time 3244734683, :type :info, :process 15, :f :cas, :value [2 4], :error :net-timeout}
{:index 31, :time 3254861984, :type :invoke, :process 21, :f :cas, :value [1 3]}
{:index 32, :time 3428626906, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 33, :time 3428798906, :type :invoke, :process 2, :f :read, :value nil}
{:index 34, :time 3567115624, :type :info, :process 16, :f :write, :value 2, :error :net-timeout}
{:index 35, :time 3786054652, :type :invoke, :process 22, :f :cas, :value [0 4]}
{:index 36, :time 3790199352, :type :info, :process 17, :f :cas, :value [0 3], :error :net-timeout}
{:index 37, :time 4005435480, :type :invoke, :process 23, :f :cas, :value [2 2]}
{:index 38, :time 4054997386, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 39, :time 4153811799, :type :invoke, :process 1, :f :read, :value nil}
{:index 40, :time 4176170201, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 41, :time 4261429712, :type :info, :process 21, :f :cas, :value [1 3], :error :net-timeout}
{:index 42, :time 4383571528, :type :invoke, :process 0, :f :read, :value nil}
{:index 43, :time 4429882334, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 44, :time 4727272471, :type :invoke, :process 2, :f :read, :value nil}
{:index 45, :time 4788653679, :type :info, :process 22, :f :cas, :value [0 4], :error :net-timeout}
{:index 46, :time 4986683604, :type :invoke, :process 28, :f :write, :value 2}
{:index 47, :time 5007432307, :type :info, :process 23, :f :cas, :value [2 2], :error :net-timeout}
{:index 48, :time 5156467426, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 49, :time 5386021155, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 50, :time 5729066299, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 51, :time 5988268031, :type :info, :process 28, :f :write, :value 2, :error :net-timeout}
