{:index 0, :time 24403499, :type :invoke, :process 3, :f :write, :value 4}
{:index 1, :time 323559185, :type :invoke, :process 1, :f :read, :value nil}
{:index 2, :time 347807784, :type :invoke, :process 4, :f :write, :value 4}
{:index 3, :time 586020973, :type :invoke, :process 0, :f :read, :value nil}
{:index 4, :time 906645458, :type :invoke, :process 2, :f :read, :value nil}
{:index 5, :time 1065890870, :type :info, :process 3, :f :write, :value 4, :error :net-timeout}
{:index 6, :time 1183082484, :type :invoke, :process 5, :f :cas, :value [2 0]}
{:index 7, :time 1338954104, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 8, :time 1367295607, :type :info, :process 4, :f :write, :value 4, :error :net-timeout}
{:index 9, :time 1554333230, :type :invoke, :process 9, :f :cas, :value [4 2]}
{:index 10, :time 1591686835, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 11, :time 1594421635, :type :invoke, :process 10, :f :cas, :value [4 4]}
{:index 12, :time 1653125042, :type :invoke, :process 1, :f :read, :value nil}
{:index 13, :time 1914439974, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 14, :time 1914641674, :type :invoke, :process 2, :f :read, :value nil}
{:index 15, :time 2113442699, :type :invoke, :process 0, :f :read, :value nil}
{:index 16, :time 2194515809, :type :info, :process 5, :f :cas, :value [2 0], :error :net-timeout}
{:index 17, :time 2368705730, :type :invoke, :process 11, :f :write, :value 1}
{:index 18, :time 2558267854, :type :info, :process 9, :f :cas, :value [4 2], :error :net-timeout}
{:index 19, :time 2558539354, :type :invoke, :process 15, :f :cas, :value [4 1]}
{:index 20, :time 2601684059, :type :info, :process 10, :f :cas, :value [4 4], :error :net-timeout}
{:index 21, :time 2656030566, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 22, :time 2829946387, :type :invoke, :process 1, :f :read, :value nil}
{:index 23, :time 2880062393, :type :invoke, :process 16, :f :write, :value 4}
{:index 24, :time 2918238398, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 25, :time 3078517218, :type :invoke, :process 2, :f :read, :value nil}
{:index 26, :time 3129397224, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 27, :time 3313574447, :type :invoke, :process 0, :f :read, :value nil}
{:index 28, :time 3372219054, :type :info, :process 11, :f :write, :value 1, :error :net-timeout}
{:index 29, :time 3574069079, :type :invoke, :process 17, :f :cas, :value [1 3]}
{:index 30, :time 3584329280, :type :info, :process 15, :f :cas, :value [4 1], :error :net-timeout}
{:index 31, :time 3856157313, :type :invoke, :process 21, :f :cas, :value [4 1]}
{:index 32, :time 3861270814, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 33, :time 3883466717, :type :info, :process 16, :f :write, :value 4, :error :net-timeout}
{:index 34, :time 4082133341, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 35, :time 4092053642, :type :invoke, :process 1, :f :read, :value nil}
{:index 36, :time 4299568568, :type :invoke, :process 2, :f :read, :value nil}
{:index 37, :time 4316572270, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 38, :time 4560902300, :type :invoke, :process 0, :f :read, :value nil}
{:index 39, :time 4578697202, :type :info, :process 17, :f :cas, :value [1 3], :error :net-timeout}
{:index 40, :time 4642577110, :type :invoke, :process 22, :f :write, :value 1}
{:index 41, :time 4894641241, :type :invoke, :process 23, :f :write, :value 0}
{:index 42, :time 4911895043, :type :info, :process 21, :f :cas, :value [4 1], :error :net-timeout}
{:index 43, :time 5121138969, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 44, :time 5310470992, :type :fail, :process 2, :f :read, :value nil, :error :net-timeout}
{:index 45, :time 5577933025, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 46, :time 5668269336, :type :info, :process 22, :f :write, :value 1, :error :net-timeout}
{:index 47, :time 5985771376, :type :info, :process 23, :f :write, :value 0, :error :net-timeout}
